
@{
    ViewBag.Title = "WeatherInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyWeatherForecast.Models.WeatherInformation
@{
    int count = 1;
    string bgClass = "";
    //string locValue = !string.IsNullOrEmpty(Model.Location) ? Model.Location : string.Empty;
    //int numDaysValue = Model.NumberOfDays > 0  ? Model.NumberOfDays : 0;
}



@using (Html.BeginForm("WeatherInfo", "Weather"))
{
    
    <div class="form-group">
        Target Location:
        <input type="text" value="@Model.Location" required id="Location" name="Location" placeholder="London,GB" />
        Number of Days:
        <input type="text" pattern="[0-5]" required id="NumberOfDays" name="NumberOfDays" placeholder="(Max of 5 days)" />
        <input type="submit" value="Find" id="btnSubmit" />
    </div>
    
}

@if (Model.Weath != null)
{
    string classContainer = "weathercontainer" + Model.Weath.Count();
    
<div class="@classContainer">
    <h3><center>Weather Forecast for: @Model.Location</center></h3>
    @foreach (var i in Model.Weath)
    {
        string wInfoCont = "wInfo" + @count.ToString();
        <div class="day-weather">

            <p>@i.TransformedDate</p>
            @foreach (var u in i.DayWeatherInfo)
            {
                if (u.main.Contains("clouds") || u.main.Contains("shower"))
                {
                    bgClass = u.main;
                }
                else
                {
                    bgClass = u.description;
                }
                <div id="@wInfoCont" class="@bgClass">
                    <img src="~/Content/Icons/@u.icon" />
                    <p class="description">@u.description</p>
                </div>
                count++;
            }
            <p class="c-temp">@i.DayTemperatureInfo.CTemperature°C</p>
            <p class="f-temp">@i.DayTemperatureInfo.FTemperature°F</p>
        </div>
    }
</div>
}
else
{
    <center>Know weather information.</center>
}


